@charset "utf-8";

.info_area{
	margin: 0 0 35px 0;
	padding-bottom: 40px;
	overflow: hidden;
	width: 960px;
	border-bottom: 1px solid #D6D6D6;
	height: 175px;
}
.button_area{
	float:left;
	width: 60px;
	text-align: center;
	padding-top: 70px;
	height: 100%;
}
.picture_area{
	float:left;
	width: 450px;
	margin-right: 30px;
	text-align: center;
	vertical-align: text-top;
}
.desc_area{
	float:left;
	width: 300px;
	margin-right: 0px;
}
.pict_owner{
	width: 200px;
	margin: 5px;
}
.pict_app{
	width: 200px;
	margin: 5px;
}

/* */
#header {
	position:		fixed;
	top:			0;
	z-index:		1;
	width:			100%;
	margin:			0;
	padding:		0;
	background-color:	white;
}
#nav {
	color:			white;
	background:		url('images/navbg.jpg');
	height:			1.5em;
}
#nav ul {
	list-style-type:	none;
	padding:		0;
	margin:			0;
}
#nav ul li {
	float:			left;
}
#nav a {
	display:		block;
	color:			white;
	height:			1.5em;
	padding-left:		1em;
	padding-right:		1em;
}
#nav a span {
	vertical-align:		middle;
}
#main {
	position:		relative;
	top:			4em;
	padding:		1em;
}

/* */
.hidden {
	display:		none;
}

.center {
	text-align:		center;
}

.comment {
	
}

.commentator {
	float:			right;
	width:			100px;
}

/* */
h1 {
	margin:			0.2em;
}

h2.none {
	background-color:	#D0D0FF;;
	border-bottom-style:	none;
}
h2, h3 {
	border-color:		#5D88E6;
	border-bottom-style:	solid;
	border-bottom-width:	1px;
	border-left-style:	solid;
	border-left-width:	10px;
	padding-left:		5px;
}
/* */
a {
	text-decoration:	none;		/* do not show underline */
}
a:hover {
	background-color:	#ADD8E6;	/* light blue */
}
a:link {
	color:			#4169E1;	/* royal blue */
}
a:visited {
	color:			#000080;	/* navy */
}
/* */
u.dashed {
	text-decoration:	none;
	border-bottom:		1px black dashed;
}
/* */
body {
	margin:			0;
	padding:		0;
	background-color:	#FFFFFF;
}
/* */
p {
	text-indent:	1em;
	margin:		1em;
}
/* */
p.remark {
	/* margins of top and bottom are inherited. */
	margin-left:		3em;
	margin-right:		3em;
	background-color:	#D0D0FF;
	border-width:		1px;
	border-style:		dashed;
	padding:		1em;
	display:		block;
	position:		relative;
}
/* */
table {
	margin:			1em;
	margin-left:		2em;
	margin-right:		2em;
	background-color:	#C0C0FF;
	border-style:		solid;
	border-width:		1px;
	border-color:		#000000;
	border-collapse:	collapse;
}
table caption {
	font-weight:		bold;
}
table th,td {
	padding:		0.2em;
	border-style:		solid;
	border-width:		1px;
	border-color:		#000000;
}
table.roman {
	width:			512;
	margin:			0em;
}
table.roman td {
	text-align:		center;
}
table td.specialchar {
	text-align:		center;
	background-color:	#FFFFFF;
}

/* */
img {
	margin-left:		2em;
	margin-right:		2em;
}
img.inline {
	margin:			0em;
	vertical-align:		middle;
}
/* */
pre {
	white-space:		-moz-pre-wrap;
	white-space:		-pre-wrap;
	white-space:		-o-pre-wrap;
	white-space:		pre-wrap;
	word-wrap:		break-word;

}
pre, code {
	margin-top:		1em;
	margin-bottom:		1em;
	margin-left:		3em;
	margin-right:		3em;
	background-color:	#D0D0FF;
	border-style:		solid;
	border-width:		1px;
	padding:		1em;
	display:		block;
	position:		relative;
}
/* */
em {
	font-style:		normal;
	font-weight:		bold;
	color:			red;
}
dfn {
	font-style:		normal;
	font-weight:		bold;
	color:			red;
}
