@charset "utf-8";

.info_area{
	margin: 0 0 35px 0;
	padding-bottom: 40px;
	overflow: hidden;
	width: 960px;
	border-bottom: 1px solid #D6D6D6;
	height: 175px;
}
.button_area{
	float:left;
	width: 60px;
	text-align: center;
	padding-top: 70px;
	height: 100%;
}
.picture_area{
	float:left;
	width: 450px;
	margin-right: 30px;
	text-align: center;
	vertical-align: text-top;
}
.desc_area{
	float:left;
	width: 300px;
	margin-right: 0px;
}
.pict_owner{
	width: 200px;
	margin: 5px;
}
.pict_app{
	width: 200px;
	margin: 5px;
}
